.new-games-container {
  grid-row: 2/3;
  grid-column: 2/4;

  ul {
    list-style: none;
  }

  p {
    color: white;
  }

  h2 {
    color: paleturquoise;
    background-color: rgba(0, 0, 0, .3);
    display: inline-block;
    padding: 0 1em;
    border-radius: 100px;
  }

  h3 {
    color: skyblue;
    font-size: 28px;
  }

  .game-description {
    display: flex;
    align-items: center;

    img {
      height: 62px;
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}